/**
 * CSS for the Education Program MediaWiki extension.
 * @see https://www.mediawiki.org/wiki/Extension:Education_Program
 *
 * @licence GNU GPL v2+
 * @author Andrew Green <andrew.green.df at gmail dot com>
 */

/* padding inside cells */
.ep-articletable td,
.ep-articletable th {
	padding: 4px;
}

/* thicker border to separate each student's region of the table, */
/* and above and below the table */
.ep-articletable-row,
.ep-articletable th {
	border-top: 2px solid rgb(150, 150, 150);
}

.ep-articletable {
	/* TODO remove "!important" declaration, see EPPager->getStartBody() */
	border-bottom: 2px solid rgb(150, 150, 150) !important;
}

/* Note: the element type is necessary in the following declarations */
/* to override styles in skins/common/shared.css */

/* different background for two-column cell for add article control */
td.ep-addarticle-cell {
	background-color: #f2f2f2;
}

/* initial highlight for the cells of students just added */
td.ep-addedstudent-cell-initial {
	background-color: #0023bc;
}

/* fade-to highlight for the cells of students just added */
td.ep-addedstudent-cell {
	background-color: #dfeaf7;
	-webkit-transition: background-color 1.5s ease;
	-moz-transition: background-color 1.5s ease;
	-o-transition: background-color 1.5s ease;
	transition: background-color 1.5s ease;
}