/**
 * CSS for the Education Program MediaWiki extension.
 * @see https://www.mediawiki.org/wiki/Extension:Education_Program
 * 
 * @licence GNU GPL v3 or later
 * @author Jeroen De Dauw <jeroendedauw at gmail dot com>
 */

td.htmlform-tip {
	font-size: small;
	padding: .2em 2em;
	color: #666666;
}