/**
 * CSS for the Education Program MediaWiki extension.
 * @see https://www.mediawiki.org/wiki/Extension:Education_Program
 * 
 * @licence GNU GPL v2+
 * @author Jeroen De Dauw <jeroendedauw at gmail dot com>
 */

td.htmlform-tip {
	font-size: x-small;
	padding: .2em 2em;
	color: #666666;
}

/* see similar class in ep.pager.css */
.formpageDeleteWarning {
	font-size: 1.2em;
	color: #aa2222;
	margin-bottom: 0.8em;
}