/**
 * CSS for the Education Program MediaWiki extension.
 * @see https://www.mediawiki.org/wiki/Extension:Education_Program
 *
 * @licence GNU GPL v3 or later
 * @author Jeroen De Dauw <jeroendedauw at gmail dot com>
 */

img.studentometer, table.ep-studentactivity {
	margin-left: auto;
	margin-right: auto;
}

img.studentometer {
	display: block;
}
